#logo {
    width: 50px;
    height: auto;
    display: block;
    margin: 10px auto;
    margin-top: -75px;
    margin-left: 15px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

.title {
    text-align: left;
    color: white;
    margin-left: 80px;
    margin-top: 15px;
    padding: 10px;
}

.year-label {
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.dropdown-container {
    position: absolute;
    top: 28px;
    right: 12px;
    display: flex;
    align-items: center;
}


.dropdown {
    width: 160px;
    max-width: 155px;
    z-index: 10;
}


.dropdown .Select__control {
    background-color: #333;
    border: 1px solid #444;
    color: white;
    font-size: 16px;
    padding: 5px;
}


.dropdown .Select__control:hover {
    border-color: #666;
}


.dropdown .Select__menu {
    background-color: #333;
    color: white;
}

.dropdown .Select__option {
    background-color: #333;
    color: white;
}


.dropdown .Select__option:hover {
    background-color: #555;
}

.dropdown .Select__single-value {
    color: white;
}

.map-container {
    height: 80vh;
    width: 100%;
}

.info-box {
    padding: 10px;
    border: 2px solid rgb(48, 48, 48);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: rgb(48, 48, 48);
    font-size: 18px;
    width: 350px;
    max-height: 285px;
    overflow-y: auto;
    position: absolute;
    top: 54px;
    right: 11px;
    margin-top: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.text-info, .text-info2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    line-height: 2.5;
}

#terremotos {
    font-size: 70px;
    font-weight: bold;
    color: #00ffc8;
    padding: 0px;
    margin: 0px 0;
}

.donut-container {
    margin-top: -245px;
    margin-left: 923px;
    width: 350px;
    height: 285px;
    padding: 10px;
    border: 2px solid rgb(48, 48, 48);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
}
.box-container {
    margin-top: 10px;
    margin-left: 10px;
    width: 1263px;
    height: 450px;
    padding: 10px;
    border: 2px solid rgb(48, 48, 48);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
}

.profundidade-container {
    margin-top: 10px;
    margin-left: 10px;
    width: 820px;
    height: 350px;
    padding: 10px;
    border: 2px solid rgb(48, 48, 48);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
}

.bar-container {
    margin-top: 57px;
    margin-left: 862px;
    width: 430px;
    height: 370px;
    border: 2px solid rgb(48, 48, 48);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
}

#box {
    width: 300px;
    height: auto; 
    display: block;
    margin: 10px auto;
    margin-top: -810px;
    margin-left: 950px;
    z-index: 10;
}
